In [3]:
from typing import List
def get_requirements()-> List:
    """

    This function returns a list of requirements in list format
    """
    try:
        requirement_list:List[str] = []

        with open('requirements.txt', 'r') as f:
            lines = f.readlines()
        requirement_list = [line.replace('\n', '') for line in lines]
        if "-e ." in requirement_list:
            requirement_list.remove("-e .")

        return requirement_list
    except Exception as e:
        raise e

In [4]:
get_requirements()

['pymongo[srv]==4.2.0']

In [1]:
import pandas as pd

In [4]:
train_file_path = r"C:\ineuron\Industry_ready_projects\Sensor_fault_detection\Scania_APS_Fault_detection\artifact\10_30_2022_00_18_29\data_ingestion\ingested\train.csv"

df = pd.read_csv(train_file_path)
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,54,4.0,36.0,30.0,0.0,0.0,0.0,0.0,0.0,...,1224.0,176.0,216.0,74.0,36.0,108.0,0.0,0.0,0.0,0.0
1,neg,38876,NaN,744.0,596.0,0.0,0.0,0.0,0.0,0.0,...,576452.0,221750.0,315260.0,192402.0,104948.0,66270.0,117258.0,1684.0,0.0,0.0
2,neg,15654,NaN,42.0,14.0,0.0,0.0,0.0,0.0,0.0,...,41490.0,17120.0,52632.0,110184.0,67478.0,357888.0,3386.0,0.0,0.0,0.0
3,neg,1002,NaN,16.0,18.0,0.0,0.0,0.0,0.0,0.0,...,7110.0,3012.0,7170.0,4956.0,12754.0,9538.0,0.0,0.0,0.0,0.0
4,neg,4,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,36.0,10.0,14.0,12.0,22.0,38.0,0.0,0.0,0.0,0.0

In [29]:
cols = df.columns
zero_std=[]
for col in cols[1:]:
    if (df[[col]].describe().loc['std',:]).get(col) ==0:
        zero_std.append(col)

In [30]:
zero_std

['cd_000']